# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
.env/
venv/

# PyCharm files
.idea/

# VSCode files
.vscode/

# System files
.DS_Store
Thumbs.db

dist/
Mongeasy.egg-info/
pytest_cache/


driver.py
mongeasy_config.yaml
p.conf